#!/bin/sh

# Source global X session scripts.
if [ -d /etc/X11/xinit/xinitrc.d ]; then
  for f in /etc/X11/xinit/xinitrc.d/*; do
    [ -x "$f" ] && . "$f"
  done
  unset f
fi

battery() {
  battery='/sys/class/power_supply/BAT0'

  if [ -d "$battery" ]; then
    echo ' '

    if grep -q 'Charging' "$battery/status"; then
      echo ''
    fi

    cat "$battery/capacity"
    echo '%'
  fi
}

while true; do
   xsetroot -name "luis :: $(date '+%a %d de %b, %I:%M %p') :: $(battery)"
   sleep 1m
done &

feh --no-fehbg --bg-fill ~/Pictures/lambda2.jpg &
redshift -O 4500 &
nm-applet &

exec dwm
